<ion-view hide-nav-bar="true">
  <ion-content class="splash padding">
  <div class="branding list">
    <div class="branding logo">
      <img src="img/YourLogo.png" alt="Your Logo">
    </div>

      <div class="card padding">
      <h3 class="statement">Questionnaire App</h3>
      <article>
        <p>Q&A</p>
        <br>
        <div class="info"
        ng-hide="currentUser">
          <p>Sign up below.</p>
        </div>
      </article>
      </div>

  </div> <!-- end of branding -->

  </ion-content>
</ion-view>
